body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

#pinterest-icon {
    padding-top: 20px;
    padding-left: 20px;
}

.encabezado {
    margin: 10px;
    padding-top: 15px;
}

.finder {
    width: 68%;
    height: 40px;
    margin-top: 10px;
    border-radius: 40px;
    background-color: gainsboro;
}

#navbar-pinterest {
    display: flex;
}

#notifications {
    padding-top: 22px;
    margin-right: 20px;
}

#message {
    padding-top: 15px;  
    margin-right: 20px;
}

#profile-img {
    padding-top: 20px;
    margin-right: 15px;
}

.opciones {
    padding-top: 30px;
    margin-right: 10px;
}

.text {
    position: absolute;
    background: crimson;
    border-radius: 40px;
    visibility: hidden;
    text-align: center;
}

#content {
    columns: 6;
    column-gap: 1em;
    position: relative;
}

img {
    max-width: 100%;
    margin-bottom: 0.8em;
    border-radius: 40px;    
    display: block;
}

.card-image:hover {
    opacity: 0.7;
}

.card-image:hover .text {
    visibility: visible;
}